.bg-custom{
    background-color: #1d1d1d;
    color: white;
}
.cover{
    background: url("../img/fabian-grohs-dC6Pb2JdAqs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 11.5rem 0rem 11.4rem 2rem;
}
.title{
    font-family: 'Sriracha', cursive;
}
#side-icon{
    position: fixed;
    top: 20rem;
    right: 0rem;
    background-color: white;
}
#side-icon .fab{
    color: tomato;
}
.footer-bg{
    background-color: rgb(223, 223, 223);
}
@media screen and (max-width: 780px){
    .cover{
        background: url("../img/fabian-grohs-dC6Pb2JdAqs-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 500px 580px;
        color: white;
        padding: 6.5rem 0rem 6.5rem 2rem;
    }
}